:root {
  --main-clr: hsl(191, 98%, 39%);
  --secondary-clr: hsl(33, 78%, 91%);
  --main-light-clr: hsla(191, 59%, 41%, 0.3);
  --primary-clr: hsl(0, 59%, 41%);
  --shadow-black-clr: hsla(0, 0%, 10%, 0.1);
  --scroll-boxShadow: inset 0 0 6px hsla(191, 59%, 41%, 0.3);
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
}

@media screen and (min-width: 375px) {
  html {
    font-size: calc(10px + 10 * ((100vw - 375px) / 1225));
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 20px;
  }
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  scroll-behavior: smooth;
  scrollbar-color: var(--main-clr);
  scrollbar-width: thin;
  scrollbar-track-color: var(--secondary-clr);
}
body::-webkit-scrollbar-track {
  box-shadow: var(--scroll-boxShadow);
  background-color: var(--main-clr);
}

body::-webkit-scrollbar {
  width: 6px;
  background-color: var(--main-clr);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--secondary-clr);
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */

* {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ol,
ul {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ul[role*="navigation"],
ol[role="list"] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

button {
  border: none;
  outline: none;
}

/* Default links style */
a {
  color: var(--main-clr);
  font-size: 1.1rem;
  text-decoration: none;
  transition: all 200ms ease-in;
}

a:hover {
  color: var(--secondary-clr);
  transform: scale(0.9);
}

/* Animations */
@keyframes backgroundslider {
  0% {
    background-size: cover, 0px, 0px;
    background-position: bottom center, top left 5%, top right 5%;
  }
  50% {
    background-size: 0px, cover, 0px;
    background-position: top left 5%, bottom center, top right 5%;
  }
  100% {
    background-size: 0px, 0px, cover;
    background-position: top left 5%, top right 5%, bottom center;
  }
}

@keyframes reveal {
  to {
    width: 31ch;
  }
}
